 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>buckets_app_2.0</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but buckets_app_2.0 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css" />
    <!-- built files will be auto injected -->
  </body>
</html>
