<template>
    <div id="buckets">
        <form @submit.prevent="_submit">

            <label for="bucket_cap_1">First Bucket Capacity</label>
            <input v-model="inputs.bucket1"
                   type="number"
                   id="bucket_cap_1"
                   v-bind:class="{ 'has-error': (!validBucket1) && inputs.bucket1 !== '' }"
                   @focus="clearStatus"
                   @keypress="clearStatus"/>


            <label for="bucket_cap_2">Second Bucket Capacity</label>
            <input v-model="inputs.bucket2"
                   type="number"
                   id="bucket_cap_2"
                   v-bind:class="{ 'has-error': (!validBucket2) && inputs.bucket2 !== ''}"
                   @focus="clearStatus"/>


            <label for="desired_cap">Desired Capacity</label>
            <input v-model="inputs.desired"
                   type="number"
                   id="desired_cap"
                   v-bind:class="{ 'has-error': (!validDesired) && inputs.desired !== ''}"
                   @focus="clearStatus"/>


            <p v-if="error" class="error">
                  ❗Please fill out all required fields with natural numbers
            </p>

            <button>Submit</button>

        </form>
    </div>
</template>



<script>

    export default {
        name: 'Buckets',
        components: {
        },

        data() {
            return {
                error: false,
                inputs: {
                    bucket1: '',
                    bucket2: '',
                    desired: '',
                },
            }
        },

        methods: {

            _submit() {

                if( this.validBucket1 && this.validBucket2 && this.validDesired) {
                    bucket(this.inputs.bucket1, this.inputs.bucket2, this.inputs.desired);
                }

                else {

                    this.clearStatus();

                    if (this.validBucket1 !== true) {
                        this.error = true;
                        return
                    }

                    if (this.validBucket2 !== true) {
                        this.error = true;
                        return
                    }

                    if (this.validDesired !== true) {
                        this.error = true;
                        return
                    }

                    this.error = false;
                }
            },

            clearStatus(){
                this.error = false;
            },

        },

        computed: {
            validBucket1() {
                return isNatural(this.inputs.bucket1);
            },
            validBucket2() {
                return isNatural(this.inputs.bucket2);
            },
            validDesired() {
                return isNatural(this.inputs.desired);
            },
        }

    }

    function isNatural(data) {
        return (data % 1 === 0) && (data >= 1);
    }

    // Uses an array of data to output an HTML list
    function output(ret_val) {
        let listContainer = document.createElement('div');
        let listElement = document.createElement('p');
        document.getElementsByTagName('body')[0].appendChild(listContainer);
        listContainer.appendChild(listElement);
        for (let i = 0; i < ret_val.length; ++i) {
            let listItem = document.createElement('li');
            listItem.innerHTML = ret_val[i];
            listElement.appendChild(listItem);
        }
    }

    // Creates an array of necessary steps to achieve desired the bucket
    // Each conditional is a particular case for some set of inputs
    function bucket(x, y, d){
        let ret_val = [];
        const params = `With a ${x} gallon bucket, a ${y} gallon bucket, and a desired amount of ${d} gallons:`;
        const final = `This will give you your desired amount of ${d} gallons.`;
        ret_val.push(params.bold());

        const t0 = ((Math.floor(x) > Math.floor(d)) && (Math.floor(y) > Math.floor(d)));
        const t1 = ((Math.floor(x) < Math.floor(d)) && (Math.floor(y) < Math.floor(d)));

        if (t0 || t1){
            const msg = "These are invalid inputs. One bucket must be less than or equal to the desired bucket, " +
                        "AND one bucket must be greater than or equal to the desired bucket.";
            ret_val.push(msg);
            output(ret_val);
        }

        else if(x === d){
            const msg = "Fill up the first bucket.";
            ret_val.push(msg);
            ret_val.push(final);
            output(ret_val);
        }

        else if(y === d){
            const msg = "Fill up the second bucket.";
            ret_val.push(msg);
            ret_val.push(final);
            output(ret_val);
        }

        else if((d % Math.min(x, y)) === 0){
            let temp_val = 0;
            while (temp_val < d){
                temp_val += Math.min(x, y);
                ret_val.push("Fill up the smaller bucket and empty it into the larger bucket.");
            }
            ret_val.push(final);
            output(ret_val);
        }

        else {
            let n = Math.min(x, y);
            const min_val = Math.min(x, y);
            const max_val = Math.max(x, y);
            while (n < max_val) {
                n += min_val;
            }

            if ((d - (n % max_val)) % min_val === 0){

                let temp_val = 0;
                while (temp_val < max_val-min_val){
                    temp_val += min_val;
                    ret_val.push("Fill up the smaller bucket and empty it into the larger bucket.");
                }

                ret_val.push(`Fill up the smaller bucket and pour it into the larger bucket until the larger bucket is
                full, while keeping the remaining water inside the smaller bucket.`);
                ret_val.push("Dump out all the water in the larger bucket.");
                ret_val.push("Dump all the remaining water from the smaller bucket into the larger bucket.");

                temp_val = 0;
                while(temp_val < ((d - (n % max_val)) / min_val)){
                    ret_val.push("Fill up the smaller bucket and empty it into the larger bucket.");
                    temp_val += 1;
                }

                ret_val.push(final);
                output(ret_val);
            }

            else{
                const msg = "Your desired bucket amount is not possible.";
                ret_val.push(msg);
                output(ret_val);
            }
        }
    }

</script>



<style scoped>

    form {
        margin-bottom: 2rem;
    }

    .error {
        color: rgb(255,83,73);
    }

</style>
