<template>
  <div id="app" class="small-container">
    <h1>Buckets Application</h1>
    <buckets @add:inputs="addInput"/>


  </div>
</template>

<script>
  import Buckets from "./components/Buckets";

  export default {
    name: 'app',
    components: {
      Buckets,
    },
    methods: {
      addInput() {
        this.inputs = []
      }
    }
  }


</script>

<style>

  body{

    line-height: 1.6em;
    padding: 15px;
    background: #f0f0f0;
    margin: 5px;

  }

  button {
    background: #009435;
    border: 1px solid #000;
  }

  .small-container {
    max-width: 680px;
  }

</style>
